html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  height: 100%;
}
#map.over {
  opacity: 0.5;
  background-color: rgba(100, 100, 100, 0.5);
}

#sidebar {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.file {
  display: flex;
  margin-top: 1em;
  cursor: move;
  text-align: center;
  border:1px solid #00adff;
  padding:10px;
  border-radius:5px;
  align-items:center;
}
.file img{
  max-width: 40px;
  margin-right:20px;
}

.file img.orange{
  display: none;
}
.file:hover {
  border:1px solid darkorange;
}
.file:hover img.blue{
  display:none;
}
.file:hover img.orange{
  display:inline-block;
}
.file:hover .filename {
  color: darkorange;
}
.file .material-icons {
  font-size: 50px;
  color: orange;
}
.file .material-icons:hover {
  color: darkorange;
}
.file .filename {
  font-size: 20px;
  color: #333333;
}

.file .filename{
  display:inline-block;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}
